body {
  color: white;
  background-image: url("img/night.jpg");
  background-size: cover;
  font-family: "Croissant One", cursive;
  size: 400px;
  display: flex;
  flex-direction: column;
}

.btn-join {
  width: 200px;
  height: 75px;
  font-family: inherit;
  font-size: 25px;
  padding: 10px 20px;
  text-align: center;
  border: outset 5px #dc2f02;
  border-radius: 5%;
  align-self: center;
  margin-top: 100px;
}

.btn-join:hover {
  box-shadow: 0 0 20px black;
  text-shadow: 0 0 5px #dc2f02;
}

#hero {
  text-shadow: 0 0 5px black;
  width: 50%;
  /* color: #dc2f02; */
}

a {
  color: black;
  font-family: inherit;
  text-decoration: none;
}

#smoke {
  width: 200px;
  height: 200px;
  border: solid 4px white;
  border-radius: 4px;
  margin: 30px 0;
  background-image: url(img/smoke.jpg);
  background-size: cover;
  align-self: center;
}

#smoke:hover {
  background-image: url(https://media.giphy.com/media/14ewmn88ggjTnG/giphy.gif);
}

#arrow {
  margin: 50px 0;
  height: 100px;
  width: 100px;
  border: solid 2px white;
  border-radius: 100%;
  align-self: center;
}

.back-hide {
  text-align: center;
}